<!DOCTYPE html>
<html>
<head>
    <title>Question List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
    <h2 class="my-4">All Questions</h2>

    <form method="post">
        {% csrf_token %}
        {% for question in page_obj.object_list %}
        <div class="card mb-3">
            <div class="card-body">
                <input type="hidden" name="question_id" value="{{ question.question_id }}">

                <h5 class="card-title">{{ question.question }}</h5> <!-- Display the actual question -->

                <div>
                    <input type="radio" name="option" value="{{ question.optionA }}"> {{ question.optionA }}
                </div>
                <div>
                    <input type="radio" name="option" value="{{ question.optionB }}"> {{ question.optionB }}
                </div>
                <div>
                    <input type="radio" name="option" value="{{ question.optionC }}"> {{ question.optionC }}
                </div>
                <div>
                    <input type="radio" name="option" value="{{ question.optionD }}"> {{ question.optionD }}
                </div>
            </div>
        </div>
        
        {% endfor %}

       <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <button type="submit" class="btn btn-success" >Next</button>
        {% else %}
             <button type="submit" class="btn btn-success" >Submit</button>
        {% endif %} 

        
    </form>
</body>
</html>
