{% extends "quiz/base.html" %}
{% block content %}

    <div class="container">
        <div class="leaderboard-container">
            <h2 class="text-center text-primary mb-4">🏆  Leaderboard 🏆</h2>

            {% if rank_list %}
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            {% if attempt.best_point %}
                                 <th>Best Points</th>
                            {% else %}
                                 <th> Quiz  Points</th>
                            {% endif %}
                           
                        </tr>
                    </thead>
                    <tbody>
                        {% for attempt in rank_list %}
                        <tr class="{% if forloop.counter == 1 %}rank-1{% elif forloop.counter == 2 %}rank-2{% elif forloop.counter == 3 %}rank-3{% endif %}">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ attempt.user_id.username }}</td>
                           
                           <td> {% if attempt.best_point %}
                                   {{ attempt.best_point }}
                            {% else %}
                                 {{ attempt.total_points }}
                            {% endif %}
                           </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-center text-danger">No attempts found for this quiz.</p>
            {% endif %}
            
            <div class="text-center mt-3">
                <a href="/" class="btn btn-primary">🏠 Go Home</a>
            </div>
        </div>
    </div>

{% endblock content %}
